// Gorditas font

@font-face {
  font-family: "gorditas";
  font-display: swap;
  font-weight: 300;
  src: url("../public/assets/fonts/Gordita-Thin.otf");
}

@font-face {
  font-family: "gorditas";
  font-display: swap;
  font-weight: 400;
  src: url("../public/assets/fonts/Gordita-Regular.otf");
}

@font-face {
  font-family: "gorditas";
  font-display: swap;
  font-weight: 500;
  src: url("../public/assets/fonts/Gordita-Medium.otf");
}

@font-face {
  font-family: "gorditas";
  font-display: swap;
  font-weight: 700;
  src: url("../public/assets/fonts/Gordita-Bold.otf");
}

@font-face {
  font-family: "gorditas";
  font-display: swap;
  font-weight: 900;
  src: url("../public/assets/fonts/Gordita-Black.otf");
}
