html {
 height: 100%;
 box-sizing: border-box;
}

body {
  font-family: var(--gorditas);
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh !important;
  overflow-x: hidden !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.ant-menu.ant-menu-light .ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.1) !important;
  /* color:#282828 !important; */
  color: var(--color-text-dark)!important;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;

}
.custom-menu-theme.ant-menu.ant-menu-light .ant-menu-item-selected {
  background-color: rgba(39, 48, 102, 0.08) !important;
  font-size: 1.3rem;


}
.ant-menu-light .ant-menu-item:not(.ant-menu-item-disabled):focus-visible {
  outline: none !important
}

/* .ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: red;
} */

.ant-menu-dark.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #807B7B !important;
}
.custom-menu-theme .ant-menu-dark.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(39, 48, 102, 0.08) !important;
}


.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background-color: #fff !important;
}
.ant-menu-item,  .ant-menu-submenu {
  color: var(--color-text-light-grey) !important;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  font-family: gorditas;
  margin-bottom: 8px !important;


}

.ant-menu-item {
  font-family: 'gorditas';
  /* padding: 14px 16px; */
}
.custom-menu-theme .ant-menu-item  {
 display: flex;
 align-items: center;
 font-size: 1.3rem;
}

.custom-menu-theme .ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  padding: 14px 16px;
}

.ant-menu-submenu-title,  .ant-menu-root > .ant-menu-item {
  height: 4.4rem !important;
}

.custom-menu-theme .ant-menu-submenu-title,  .ant-menu-root > .ant-menu-item {
  height: 4rem !important;
}


/* .ant-menu-sub.ant-menu-inline .ant-menu-item {
  height: 2.3rem !important;
  margin-bottom: 2.1rem;
} */

.ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title {
  color: var(--color-text-light-grey) !important;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.custom-menu-theme .ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: rgba(39, 48, 102, 0.08) !important;
}

.ant-menu-title-content {
  margin-left: 1.789rem !important
}



